<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %} " />
<h1> This is index page</h1>

{% for post in posts %}
    <div>
        <h3><a href="/post/{{ post.slug}}">{{ post.title}}</a></h3>
        <p> {{post.summary}}</p>

    </div>
{% endfor %}